.navbar{
display: flex;
}
.tabs{
  position: relative;
  left: 27rem;
  text-decoration: none;
  padding: 25px 10px;
    color: #343a40;
    font-weight: 500;
    outline: none;
}
.folios{
  /* position: relative; */
  font-weight: 900;
  outline: none;
  position:relative;
  left: 30px;

}
.h1{
  font-weight: 900;
  outline: none;
  position:relative;
  padding-left: 28px;
  left: 30px;

}
.btn{
  position: relative;
  left: 38rem;
  border-radius: 100px;
  font-weight: 500;
    text-align: center;
    vertical-align: middle;
    color: #0BCEAF;
    user-select: none;
    border: 1px solid #0BCEAF;
    font-size: 1rem;
    line-height: 1.5;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  padding: 10px 25px;
}
btn:hover{
  text-decoration: none;
  font-weight: 300;
  font-size: 1rem;
}

.btn-outline-primary:hover{
  color: #fff;
    background-color: #0BCEAF;
    border-color: #0BCEAF;
}
/* .navbars-link a{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
} */
.text-black{
  color: black !important;
}

.text-black:hover{
  color: #0BCEAF !important;
}
.text-primary{
  color: #0BCEAF !important;
}
.text-primary:hover{
  color: black !important;
}

@media (min-width:420px) {
  
}