<nav>  <h1 class="header"><span class="curly">Port</span><span class='Foliocurly'>Folio</span></h1>
    <div class=" navbar-nav m-auto py-0 navbaridea slide-in-tr">
         <a href="home" class="navbaractivity nav-item nav-link">Home</a>
         <a href="about" class="navbaractivity" >About</a>
         <a href="skills" class="navbaractivity">Skill</a>
         <a href="Award" class="navbaractivity" >Award</a>
         <a href="Experience" class="navbaractivity">Experiences and Learning</a>
         <a href="feedback" class="navbaractivity" >Feedback</a>
 
    </div>
  </nav>